@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color: rgb(247, 242, 242);
    min-height: 100vh;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}
header> p{
    padding-bottom: 50px;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
header a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(85, 85, 85);
    color: white;
}

section.imagem > p {
    background-color: rgba(28, 27, 27, 0.095);
    max-width: 300px;

}
footer{
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
}



















































0

