@charset "UTF-08";


body{
    background-color: #161F30;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:#4f6918;
}
h1#principal{
    text-align: center;
    color: #217373;
}
h2{
    color: #306d83;
}
p{
    color: #84B026;
}